.message{
    color: rgba(103, 149, 103, 0.802);
    background-color: rgb(245, 245, 245);
    border: 1px solid rgba(103, 149, 103, 0.802);
    border-radius: 4px;
    text-align: center;
    margin: 20px;
    padding: 20px;
}